
.gradle
/local.properties

/build
/captures
.externalNativeBuild

# genarated files
import-summary.txt

# IDEA configures
/.idea
*.iml

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Android
*.apk
*.dex
*.class

# Log Files
*.log

# Keystore files
*.jks

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Android Studio Navigation editor temp files
.navigation/

# jni native Libs
app/src/main/jniLibs/
